body {
    background-color:#000000;
}

.wrapper{
    color: #fffefe;
    font-family: 'Baloo', cursive;
}

.final-score {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 520px;
    color: #555;
    font-size: 18px;
    font-family: 'Lato';
    text-align: center;
    padding: 10px;
    width: 160px;
    text-transform: uppercase;
}

.final-score:focus { outline: none; }

#dice-1 { top: 120px; }
#dice-2 { top: 250px; }
